
    body {
        font-family: Arial, Helvetica, sans-serif;
        color: #777;
        background-color: #777;
        width: 960px;
        font-size: 18px;
        width: 960px;
        margin: auto;
        
    }
    .header {
        background-color: white;
        margin-top: 10px;
        padding: 40px;
        text-align: center;

    }
    .nav {
        background-color: white;
        margin-top: 10px;
        padding: 40px;
        text-align: center;

    }
    .section {
        float: left;
        background-color: white;
        margin-top: 10px;
        padding: 20px;
        text-align: center;
        width: 500px;
        overflow: auto;
        
    }
    .article {
        background-color:darkgrey;
        padding: 20px;
        color: white;
        overflow: auto;       
    }
    .h123 {
        background-color:white;
        margin: 5px;
        padding: 10px 10px;
        text-align: center;
        color: darkgray;
        overflow: auto;
    }
    .p {
        background-color:white;
        margin: 5px;
        padding: 10px 10px;
        text-align: center;
        color: darkgray;
        overflow: auto;
    }
    .aside {
        float: right;
        background-color: white;
        margin-top: 10px;
        padding: 40px;
        text-align: center;
        width: 330px;
        height: 160px;
        overflow: auto;
            }
    .footer {
        background-color: white;
        margin-top: 215px;
        padding: 40px;
        text-align: center;
        overflow: auto;

    }
